html, body {
    font-family: 'VT323', monospace;
    box-sizing: border-box;
    background-image: url(background.jpg);
    height: 100%;
    padding: 5px;
    margin: 0px;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    height: 100px;
    width: 100px;
    margin-left: 80px;
    padding-bottom: 400px;
}

img:hover {
    transition: 400ms;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    color: #37593b;
    letter-spacing: 5px;
    line-height: 3px;
}

#result {
    color: #37593b;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5em;
    text-align: center;
    padding-top: 150px;
}

#restart {
    display: none;
    cursor: pointer;
    color: #37593b;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    padding-top: 50px;
}

